*{
    padding: 0px;
    margin: 0px;

}



#caja_principal{
    background-color: #1f1f1fff;
    height: 625px;
    width: 350px;
    margin: 0 auto;
    margin-top: 42px;
    border-radius: 10px;
}


img{
    border-radius: 9999px;
    width: 100px;
    height: 100px;
    display: block;
    top: 37px;
    position: relative;
    margin: 0 auto;
    max-width: 100%;
}

h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-family: inter;
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

h2{
    color: #baf72aff;
    text-align: center;
    font-family: inter;
    font-weight: 600;
    font-size: 15px;
    margin-top: 0.25rem;

}

p{
    color: white;
    margin-top: 27px;
    text-align: center;
}

.boton1, .boton2, .boton3, .boton4, .boton5 {
    display: block;
   
    height: 50px;
    width: 301px;
    background-color: #333333ff;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
    
}


.boton1 a, .boton2 a, .boton3 a, .boton4 a, .boton5 a{
    color: white;
    font-family: inter;
    font-weight: 600;
    position: relative;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
}

.boton1:hover ,.boton2:hover,.boton3:hover,.boton4:hover,.boton5:hover{
    background-color: #baf72aff;
    color: black;
    cursor: pointer;
    transition: 400ms;
    
}

.boton1:hover a,.boton2:hover a,.boton3:hover a,.boton4:hover a,.boton5:hover a{
    color: black;
    
}




body{
    background-color: #141414ff;
}